<!DOCTYPE HTML>
<html ng-app="MIPS">

<head>
    <title>MIPS R4000</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Stylesheet -->
    <link href="css/index.css" rel="stylesheet" />
    <!-- ACE Editor -->
    <script type="text/javascript" charset="utf-8" src="dependencies/ace/ace.js"></script>
    <script type="text/javascript" charset="utf-8" src="dependencies/ace/mode-assembly_x86.js"></script>
    <script type="text/javascript" charset="utf-8" src="dependencies/ace/theme-twilight.js"></script>
    <script type="text/javascript" charset="utf-8" src="dependencies/ace/theme-xcode.js"></script>
    <script type="text/javascript" charset="utf-8" src="dependencies/ace/theme-ambiance.js"></script>
    <script type="text/javascript" charset="utf-8" src="dependencies/ace/theme-clouds_midnight.js"></script>
    <script type="text/javascript" charset="utf-8" src="dependencies/ace/theme-github.js"></script>
    <script type="text/javascript" charset="utf-8" src="dependencies/ace/theme-pastel_on_dark.js"></script>

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="dependencies/jquery.min.js"></script>
    <!-- AngularJS -->
    <!--<script type="text/javascript" charset="utf8" src="js/angular.min.js"></script>-->
    <script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.angularjs.org/1.5.3/angular-route.js"></script>
    <!-- Font Awesome -->
    <script type="text/javascript" charset="utf8" src="https://use.fontawesome.com/3d0fc41592.js"></script>
    <!-- App -->
    <script type="text/javascript" charset="utf8" src="simulator/app.js"></script>
    <!-- Controller -->
    <script type="text/javascript" charset="utf8" src="simulator/cpu.js"></script>
    <!-- Simulator -->
    <script type="text/javascript" charset="utf8" src="simulator/assembler.js"></script>
    <script type="text/javascript" charset="utf8" src="simulator/buffer.js"></script>
    <script type="text/javascript" charset="utf8" src="simulator/simulator.js"></script>
    <script type="text/javascript" charset="utf8" src="simulator/memory.js"></script>
    <script type="text/javascript" charset="utf8" src="simulator/control_unit.js"></script>
    <script type="text/javascript" charset="utf8" src="simulator/branch_predictor.js"></script>
    <script type="text/javascript" charset="utf8" src="simulator/hazard_unit.js"></script>

</head>

<body ng-controller="CPUController">
    <nav class="navbar navbar-inverse" role="navigation" style="background-color:black;border:0px;border-radius:0px;">
        <div class="container">
            <div class="navbar-header">
                <div class="btn-group">
                    <button type="button" class="btn btn-success navbar-btn" ng-click="run()"><span class="glyphicon glyphicon-play"></span> {{continue}}</button>
                    <button type="button" class="btn btn-default navbar-btn" ng-click="step()"><span class="glyphicon glyphicon-forward"></span> Cycle {{clock}}</button>
                    <button type="button" class="btn btn-default navbar-btn" ng-click="reset()"><span class="glyphicon glyphicon-refresh"></span>  Reset</button>
                </div>
                <button type="button" class="btn btn-default navbar-btn" ng-click="bug()"><i class="fa fa-bug" aria-hidden="true"></i> Report a Bug</button>
            </div>
            <div class="navbar-header navbar-right">
                <a class="navbar-brand" style="color:#FFFFFF">MIPS R400 Pipelined Simulator
                    <br><small style="float:right; font-size:10px">Project for CSCE 3301</small>
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="alert alert-danger alert-dismissable fade in" ng-hide="error == ''">
            <a class="close" ng-click="error = ''" aria-label="close">&times;</a>
            <strong>{{error}}</strong>
        </div>
        <!--<div class="alert alert-danger" ng-hide="error === ''">{{error}}</div>-->
        <ul class="nav nav-tabs">
            <li id="editor_tab" class="active"><a style="cursor:pointer" ng-click="goTo(0)">Editor</a></li>
            <li id="mem_tab"><a style="cursor:pointer" ng-click="goTo(1)">Memory</a></li>
            <li id="cpu_tab"><a style="cursor:pointer" ng-click="goTo(2)">CPU Buffers</a></li>
            <li><a href="#">ISA</a></li>
        </ul>
        
        <div ng-view style="height:100%"></div>
        <hr style="margin-top:10px;margin-bottom:10px;"/>
        <p><small> &copy; Badr AlKhamissi, Youssef Nassar, Mohamed El-Iskandarani</small></p>
    </div>
</body>

</html>


